<h1 align="center">Signup for Build It Blog</h1>
<h3 align="center">Note: This site uses 
       <%= link_to("Gravatar", "https://en.gravatar.com/", target: :_blank) %>
      to generate profile images</br><h3>
      
<%= render 'form' %>