<!--root route-->
<h1> Welcome to Ruby on Rails App </h1>


<%= link_to 'Alpha-Blog', articles_path %> | <%= link_to 'About', about_path %>


<footer> Copyright @ Tenteromano 2018 <br>All Rights Reserved</footer>