<!--root route-->
<div class="center jumbotron">

  <h1>Build-It-Blog</h1>
  <h4>By Phil Tenteromano</h4>
  <%= link_to 'Sign up now', signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
</div>

