<div class="well col-xs-8 col-xs-offset-2">
  <h3 align="center"> Link Coming Soon! </h3>
  <div align="center">
    <ul class="about-menu">
      <li><h5> <%= link_to 'Home', root_path %> </h5></li>
      <% if logged_in? %>
        <li><h5><%= link_to "View your profile", user_path(current_user) %></h5></li>
        <li><h5><%= link_to "Create Article", new_article_path %></h5></li>
      <% else %>
        <li><h5> <%= link_to 'Sign up', signup_path %> </h5></li>
      <% end %>
    </ul>
  </div>
</div>
    